{% extends 'layout.html' %}
{% block content %}

<div class="container">

  <form action="{% url 'signup' %}" class="form-row" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 order-md-1">
        <h4 align="center" class="display-5">Signup Instructions</h4>
        Username: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.<br>
        Your password can’t be too similar to your other personal information.
        Your password must contain at least 8 characters.
        Your password can’t be a commonly used password.
        Your password can’t be entirely numeric.
      </div>
        <div class="col-md-2 order-md-2">
        
        {{form.username.label_tag}}
        {{form.username}}
        {{form.email.label_tag}}
        {{form.email}}
        {{form.password1.label_tag}}
        <p>{{form.password1}}</p>
        {{form.password2.label_tag}}
        <p>{{form.password2}}</p>
        <hr><input class="btn btn-primary" type="submit" value="Signup!">
        {{message}}
      </div>
      <div class="col-md-4 order-md-3"><br>
        Thank you for Visiting our Website.
      </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}