{% extends  'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body class="text-center">
  <div class="col-md-4 p-lg-5 mx-auto my-5">
    <h3 align="center">Kindly Login </h3><br>
    <form action="{{request.build_absolute_uri}}" method="POST" class="form-signin">
        {% csrf_token %}
      <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username" required autofocus>
      <br>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <br>
      <input class="btn btn-lg btn-primary btn-block" value="Login !" type="submit">
      <a href="{% url 'password_reset' %}">Forgot Password</a><br>
      {% if message %}
    <p align=True style="color: red;">{{message}}</p>
    {% endif %}
    </form>
  </div>
  </body>
</html>
{% endblock %}